site_name: FuseML Documentation
nav:
    - Home: index.md
    - About: about.md
    - Quick Start: quickstart.md
    - Tutorials: tutorials.md
    - Architecture: architecture.md
    - Api Reference: api.md
    - Cli Reference: cli.md
    - Contributing: CONTRIBUTING.md
theme:
  name: material
  palette:
    primary: green
    accent: cyan
repo_url: https://github.com/fuseml/fuseml
edit_uri: https://github.com/fuseml/docs/edit/main/docs/

plugins:
  - render_swagger

# TODO: Validate with our legal team.
copyright: "Copyright &copy; 2021 FuseML Author(s)"
